@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins&family=Shizuru&display=swap");

body {
  box-sizing: border-box;
  width: 1200px;
  color: #5584ac;
  font-family: "Montserrat", sans-serif;
  font-family: Poppins, sans-serif;
  margin: 0 auto;
  background: #f6f2d4;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: #95d1cc;
}

.header .chicle {
  height: 50px;
  display: flex;
  margin-left: 30px;
}

.header .nav {
  display: flex;
  justify-content: space-around;
  padding: 0px 40px;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: inherit;
  font-size: 20 px;
}

.compania {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: #f6f2d4;
}

.compania img {
  height: 400px;
  border-radius: 20px;
}

.compania h1 {
  font-size: 30px;
}

h1 span {
  font-size: 60px;
}

.compania p {
  font-size: 20px;
}

.btnrelleno {
  color: aliceblue;
  background: #5584ac;
  border: 2px solid #5584ac;
  border-radius: 20px;
  width: 120px;
  height: 30px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-top: 15px;
}

.btnrelleno:hover {
  background: transparent;
  border: #5584ac solid 2px;
  color: #5584ac;
}

.btnborde {
  color: #5584ac;
  background: transparent;
  border: #5584ac solid 2px;
  border-radius: 20px;
  width: 120px;
  height: 30px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-top: 15px;
}

.btnborde:hover {
  color: aliceblue;
  background: #5584ac;
  border: 2px solid #5584ac;
}

.descripcion p {
  padding: 50px;
  text-align: center;
  background: #5584ac;
  color: #f6f2d4;
  margin: 0;
}

.ventajas {
  background: #95d1cc;
}

.ventajas h1 {
  text-align: center;
  font-size: 30px;
}

.ventajas p {
  padding: 5px 50px;
  text-align: center;
}

.card_contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.card {
  border: 2px solid #5584ac;
  padding: 20px;
  background: url("https://images.unsplash.com/photo-1528068185014-7b5420a06692?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  border-radius: 20px;
  color: #5584ac;
}

.card i {
  font-size: 100px;
  display: flex;
  justify-content: center;
}

.detalle {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.detalle h2,
p {
  margin: 0;
}

.work {
  text-align: center;
}

.work h2 {
  font-size: 50px;
  margin: 20px;
}

.work p {
  padding: 0 50px;
}

.work_contenedor {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.work_imagen i {
  font-size: 80px;
}

.work_detalle p {
  margin: 0;
}

.clientes {
  text-align: center;
  background: #5584ac;
  color: #f6f2d4;
  padding: 20px;
}

.clientes h2 {
  font-size: 40px;
}

.clientes p {
  padding: 0 50px 20px 50px;
}

.listaclientes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.listaclientes img {
  width: 300px;
  height: 300px;
  border: solid 1px #f6f2d4;
}

.us {
  font-size: 30px;
  text-align: center;
}

.contacto img {
  width: 300px;
}

.contacto {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  justify-content: space-around;
}

.contacto p,
img {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.social {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

.social i {
  font-size: 40px;
  color: #5584ac;
}

.social i:hover {
  color: #95d1cc;
}
